@import './reset.css';  
@import '../../node_modules/bootstrap/scss/functions.scss';
@import './variables.scss';
@import'../../node_modules/bootstrap/scss/bootstrap.scss';

@import './fz-size.css';
@import 'material-icons/iconfont/material-icons.css';
@import '../../node_modules/aos/dist/aos.css';

//custom css

*{
    box-sizing: border-box;
}



nav{ 
    li{
        width: 88px;
        text-align: center;
    }
}
@media (max-width:992px) {

    body{
        font-size: 12px;
    }

    nav{
        li{
            width: 80px;
            text-align: center;
            padding: 16px 0;
        }
    }
}

body{
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.banner{
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    height: 80vh;
}

ul{
    margin: 0;
    padding: 0;
}

.text-linear-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #87c9b6 70%)
}


//svg
svg{
    width: 60%;
    display: block;
    margin: auto;
}
.st0{display:none;}
.st1{display:inline;opacity:0.4;fill:#FEFEE9;stroke:#0978AB;stroke-width:1.4173;stroke-linejoin:round;stroke-miterlimit:3.8637;}
.st2{display:inline;opacity:0.4;fill:none;stroke:#646464;stroke-width:1.5591;stroke-linejoin:round;stroke-miterlimit:3.8637;}
.st3{fill:#E0E0E0;stroke:#646464;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.8637;}
.st4{fill:#87c9b6;stroke:#646464;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.8637;}
.st4:hover{fill:#49a188;cursor: pointer;}
.st5{fill:#49a188;stroke:#646464;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.8637;}